* {
  font-family: 'Open Sans', sans-serif;
}

body { margin: 0 10%; }

h1 { color: darkgrey; }

h2 { color: lightgrey;
font-family: cursive;}

ul.nav {
  margin: 0;
  padding: 0;
  background-color: darkgrey;
}

ul.nav li { display: inline; }

ul.nav li a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

ul.nav li a:hover {
  background-color: #555;
  transition: 0s;
}

ul.nav li a.active {
  color: darkgrey;
  background-color: #FFF;
  font-weight: bold;
}

ul.nav li:hover {
  background-color: #555;
  transition: 0s;
}

ul li.past{
  font-style: italic;
}
ul li.current{
  font-weight: bold;
}

img {
  border: 5px;
  border-style: double;
  border-color: darkgrey;
  margin: 0px 40px;
  float: left;
}
img.ang {
  border: 10px;
  border-style: double;
  border-color: darkgrey;
  margin: 0px 40px;
  float: right;
}

table {
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: darkgrey;
  background: #eee;
  padding: 0px;
  border-spacing: 0px;
  margin: 5px 15px;
}
table.legend {
  border-width: 2px 2px 2px 2px;
  border-style: double;
  border-color: darkgrey;
  background: #eee;
  padding: 0px;
  border-spacing: 0px;
  float: right;
}

th {
  color: white;
  background-color: darkgrey;
}

th, td {
  text-align: left;
  padding: 3px 15px;
}

td.current {
  font-weight: bold;
}

td.active { color: darkgrey;   }
